/* font related style */
body {
    .dm-serif-text-regular {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
    }

    .dm-serif-text-regular-italic {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: italic;
    }
}

/* nav related styl */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: black;
}

.primary-color {
    color: skyblue;
}

nav>ul {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

.primary-button {
    background-color: skyblue;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 15px 18px;
}

/* header related style */
.header {
    background-color: whitesmoke;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .rolex {
    height: 400px;
    border-radius: 5px;
}